.idea/
.venv_gpu/
__pycache__/
*.py[cod]

Controller/devel/
Controller/build/
Controller/.catkin_workspace

Simulator/devel/
Simulator/build/
Simulator/.catkin_workspace
Simulator/logs/
Simulator/.catkin_tools/

YOPO/saved/*
dataset/
yopo_sim/

!YOPO/saved/YOPO_1/
